astroid           2.5.1
beeprint          2.4.10
blessings         1.7
cgroups           0.1.0
click             7.1.2
cmdbench          0.1.13
colorama          0.4.4
cycler            0.10.0
gpustat           0.6.0
isort             5.7.0
kiwisolver        1.3.1
lazy-object-proxy 1.5.2
llvmlite          0.36.0
matplotlib        3.4.1
mccabe            0.6.1
memory-profiler   0.58.0
numba             0.53.1
numpy             1.20.2
nvidia-ml-py3     7.352.0
Pillow            8.2.0
pip               21.0.1
psutil            5.8.0
py-cpuinfo        7.0.0
pylint            2.7.2
pyparsing         2.4.7
python-dateutil   2.8.1
setuptools        49.2.1
six               1.15.0
toml              0.10.2
tqdm              4.60.0
urwid             2.1.2
wrapt             1.12.1